.main-chat
  .main-chat__group-info
    .group-sammary
      .group-sammary__name
        = @group.name
      .group-sammary__member
        Member：
        - @group.users.each do |user|
          = user.name 
    .group-edit
      = link_to "Edit", edit_group_path(@group.id)
  .main-chat__message-list
    .messages
      = render @messages
  .main-chat__message-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        .form__mask
          = f.label :image, class: "input-box__image" do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: "file", style: "display:none"
        = f.submit "Send", class: "submit-btn"